
.header {
    .header__inner  {
        margin-top: 40px;
        justify-content: space-between;
        align-items: center;
        .header-logo {
            a {
                color: #000;
                text-decoration: none;
                font-family: Lobster;
                font-size: 24px;
                transition: var(--transitoin);
                span {
                    color: var(--hover-color);
                }
            }
            a:hover {
                color: var(--hover-color);
            }
        }
        .header-nav {
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    margin: 0px 28px;
                    a {
                        color: #000;
                        text-decoration: none;
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: -0.32px;
                        transition: var(--transitoin);
                    }
                    a:hover {
                        color: var(--hover-color);
                    }
                }
            }
        }
        .header-social {
            gap: 40px;
            a {
                color: #000;
                i.fa {
                    font-size: 24px;
                    margin-right: 34px;
                    transition: var(--transitoin);
                }
                i.fa:last-child {
                    margin-right: 0;
                }
                i:hover {
                    color: var(--hover-color);
                    cursor: pointer;
                }
            }
        }
    }
    .line {
        margin: 40px 0;
        background-color: rgba(0, 0, 0, 0.10);
        width: 100%;
        height: 2px;
    }
}

.hot-offer {
    .aside {
        .aside-left {
            margin-top: 24px;
            background: var(--bgc-card-color);
            width: 40px;
            height: 600px;
            border-radius: 0 30px 30px 0;
            float: left;
        }
        .aside-right {
            margin-top: 24px;
            background: var(--bgc-card-color);
            width: 40px;
            height: 600px;
            border-radius: 30px 0 0 30px;
            float: right;
        }
    }
    
    .hot-offer__inner {
        .left-part {
            padding: 50px 50px 55px;
            flex-direction: column;
            background-color: var(--bgc-card-color);
            border-radius: 30px 0 0 30px;
            .hot-category {
                align-items: center;
                justify-content: center;
                gap: 13px;
                width: 156px;
                height: 44px;
                border-radius: 30px;
                background-color: #fff;
                p {
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -0.28px;
                }
            }
            .recipes {
                h1 {
                    margin-top: 32px;
                    font-family: Inter;
                    font-size: 64px;
                    font-weight: 500;
                    letter-spacing: -2.56px;
                }
                p {
                    margin: 24px 0 30px;
                    color: rgba(0, 0, 0, 0.60);
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
            .recipe-info {
                gap: 16px;
                .icon {
                    align-items: center;
                    padding: 8px 16px;
                    border-radius: 30px;
                    background-color: rgba(0, 0, 0, 0.05);
                    gap: 10px;
                    i {
                        font-size: 20px;
                    }
                    p {
                        color: rgba(0, 0, 0, 0.60);
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: -0.28px;
                    }
                }
            }
            .author-recipe {
                margin-top: 104px;
                gap: 156px;
                .author {
                    gap: 16px;
                    .author-info {
                        align-self: center;
                        h3 {
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: -0.32px;
                        }
                        p {
                            color: rgba(0, 0, 0, 0.60);
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: -0.28px;
                        }
                    }
                }
                .btn-video {
                    padding: 22px 36px;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -0.28px;
                    i.fa {
                        margin-left: 14px;
                    }
                }
            }
        }
        .right-part {
            img {
                height: 100%;
                border-radius: 0 30px 30px 0;
            }
        }
    }
}

.category {
    margin-bottom: 183px;
    .category__inner {
        .category-title {
            justify-content: space-between;
            margin-top: 160px;
            h2 {
                font-family: Inter;
                font-size: 48px;
                font-weight: 600;
                letter-spacing: -1.92px;
            }
            button {
                border: none;
                border-radius: 16px;
                background: var(--bgc-card-color);
                font-family: Inter;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: -0.32px;
                padding: 20px 27px;
                }
        }
        .cards-category {
            overflow: hidden;
            gap: 40px;
                a{
                    text-decoration: none;
                    white-space: nowrap;
                    overflow: hidden;
                    .card{
                        margin-top: 80px;
                        width: 180px;
                        height: 202px;
                        border-radius: 30px;
                        position: relative;
                        background: linear-gradient(180deg, rgba(112, 130, 70, 0.00) 0%, rgba(112, 130, 70, 0.10) 100%);
                            .food-bottom{
                                position: absolute;
                                width: 100px;
                                height: 100px;
                                top: 30px;
                                right: 20px;
                            }
                            .food-top {
                                margin: 0 40px;
                                width: 100px;
                                height: 100px;
                                z-index: -1; 
                            }
                            p{
                                margin-top: 50px;
                                text-align: center;
                                font-family: Inter;
                                font-size: 18px;
                                font-weight: 600;
                                letter-spacing: -0.36px;
                                color: #000;
                            }
                            
                    }
                    .vegan {
                            background: linear-gradient(180deg, rgba(108, 198, 63, 0.00) 0%, rgba(108, 198, 63, 0.10) 100%);
                            }
                    .meat {
                            background: linear-gradient(180deg, rgba(204, 38, 27, 0.00) 0%, rgba(204, 38, 27, 0.10) 100%);
                            }
                    .dessert {
                            background: linear-gradient(180deg, rgba(240, 158, 0, 0.00) 0%, rgba(240, 158, 0, 0.10) 100%);
                        }
                    .lunch {
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.05) 100%);
                        }
                    .chocolate {
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(241, 7, 7, 0.1) 100%);
                        }
            }
        }
    }
}

.main {
    margin-bottom: 200px;
    .recipes_inner{
        .recipes-title{
            h2{
                font-family: Inter;
                font-size: 48px;
                font-weight: 600;
                letter-spacing: -1.92px;
                text-align: center;
            }
            p {
                color: rgba(0, 0, 0, 0.60);
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-top: 24px;
                text-align: center;
                
            }
        }
    }
}